header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

body {
  margin: 0px;
  background-image: url(../img/pattern.jpg);
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

section {
  background-color: white;
  margin: 65px 200px 10px;
  padding: 15px 10px 20px;
}

h1 {
  text-align: center;
}

article {
  border-bottom: 1px solid black;
  margin-top: 40px;
}

footer {
  background-color: black;
  padding: 3px;
}

h5 {
  text-align: center;
  color: white;
}